{% extends 'list.html' %}

{% block columns %}
    <th style="width: 5%;" class="text-center">Nro</th>
    <th style="width: 10%;">Nombre</th>
    <th style="width: 10%;">Categoría de Curso</th>
    <th style="width: 20%;">Descripción</th>
    <th style="width: 5%;">Plataforma</th>
    <th style="width: 15%;">Horas de Duración</th>
    <th style="width: 15%;">Min. Participantes</th>
    <th style="width: 10%;">Plan de Curso</th>
    <th style="width: 10%;" class="text-center">Opciones</th>

{% endblock %}

{% block rows %}
    {% for i in object_list %}
        <tr>
            <td>{{ i.id }}</td>
            <td>{{ i.name }}</td>
            <td>{{ i.type_course.name }}</td>
            <td>{{ i.description }}</td>
            <td>{{ i.platform_infrastructure }}</td>
            <td>{{ i.duration }}</td>
            <td>{{ i.minimum_participants }}</td>
            <td class="text-center">
                {% if i.plancurso %}
                    <a href="{{ i.get_plancurso }}" class="btn btn-success btn-xs btn-flat">
                    <i class="fas fa-file-download"></i>
                    </a>
                {% else %}
                    No hay archivo
                {% endif %}
            </td>
            <td class="text-center">
                <a href="{% url 'class_room_update' i.id %}" data-toggle="tooltip" title="Editar registro"
                   class="btn btn-warning btn-xs btn-flat">
                    <i class="fas fa-edit" aria-hidden="true"></i>
                </a>
                <a href="{% url 'class_room_delete' i.id %}" rel="delete" data-toggle="tooltip" title="Eliminar registro"
                   class="btn btn-danger btn-xs btn-flat">
                    <i class="fas fa-trash" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}
