{% extends 'list.html' %}

{% block columns %}
    <th style="width: 5%;" class="text-center">Nro</th>
    <th style="width: 20%;">Nombres</th>
    <th style="width: 15%;">Cedula</th>
    <th style="width: 10%;">Username</th>
    <th style="width: 10%;">Genero</th>
    <th style="width: 15%;">Email</th>
    <th style="width: 10%;">C.Vitae</th>
    <th style="width: 15%;" class="text-center">Opciones</th>
{% endblock %}

{% block rows %}
    {% for i in object_list %}
        <tr>
            <td>{{ i.id }}</td>
            <td>{{ i.user.get_full_name }}</td>
            <td>{{ i.user.dni }}</td>
            <td class="text-center">{{ i.user.username }}</td>
            <td>{{ i.get_gender_display }}</td>
            <td>{{ i.user.email }}</td>
            <td class="text-center">
                {% if i.cvitae %}
                    <a href="{{ i.get_cvitae }}" target="_blank" class="btn btn-success btn-xs">
                        <i class="fas fa-download"></i>
                    </a>
                {% else %}
                    Sin archivo
                {% endif %}
            </td>
            <td class="text-center">
                <a href="{% url 'teacher_update' i.id %}" data-toggle="tooltip" title="Editar registro"
                   class="btn btn-warning btn-xs btn-flat">
                    <i class="fas fa-edit" aria-hidden="true"></i>
                </a>
                <a href="{% url 'teacher_delete' i.id %}" rel="delete" data-toggle="tooltip" title="Eliminar registro"
                   class="btn btn-danger btn-xs btn-flat">
                    <i class="fas fa-trash" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}
