{% extends 'home.html' %}
{% load static from staticfiles %}
{% block head %}
    <script src="{% static 'lib/moment/moment.js' %}"></script>
    <script src="{% static 'lib/moment/moment-with-locales.js' %}"></script>
    <script src="{% static 'lib/fastclick/fastclick.js' %}"></script>
    <script src="{% static 'lib/slimScroll/jquery.slimscroll.min.js' %}"></script>
    <!--Block head of body-->
    {% block head_body %}{% endblock %}
{% endblock %}
{% block body %}
    <body class="hold-transition {{ skin }} sidebar-mini">
    <div class="wrapper">
        <!--Include template header-->
        {% include 'vtc_header.html' %}
        <!--Include template sidebar-->
        {% include 'vtc_sidebar.html' %}
        <div class="content-wrapper">
            <!--Block breadcrumb-->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <!--Block breadcrumb-->
                            {% block breadcrumb %}
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="{% url 'home' %}"><i
                                                class="fas fa-home"></i> Panel</a></li>
                                        {% block breadcrumb_li %}
                                            <li class="breadcrumb-item active" aria-current="page"><a
                                                    href="{{ request.session.module.url }}"><i
                                                    class="{{ request.session.module.get_icon }}"></i> {{ request.session.module.name }}
                                            </a></li>
                                        {% endblock %}
                                    </ol>
                                </nav>
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </section>
            <!--Block content-->
            <section class="content">
                <div class="container-fluid">
                    {% block content %}

                    {% endblock %}
                </div>
            </section>
        </div>
        <!--Include template footer-->
        {% include 'footer.html' %}
        <!--Include template sbtoggle-->
        {% include 'sbtoggle.html' %}
    </div>
    </body>
{% endblock %}